{{/* News Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $page := .page }}


<div class="row">
    <div class="col-6 mx-auto col-md-6 order-md-1" style="display: flex; align-items: center;">
        <img src="{{ printf "img/%s" $page.Params.direction_img | relURL }}" alt="">
    </div>
    <div></div>
    <div class="col-md-6 order-md-2" style="border-radius:20px; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); transition: all 0.2s ease-out;">
        <h2>News</h2>
        <hr/>
        <div style="height: 450px; margin-top: 20px; overflow:auto">
            {{ range $index, $item := $page.Params.item }}
            <a href="{{ $item.link }}" target="_blank">{{ $item.title }}</a>  
            <p style="color: {{ $item.subtitle_color }};">{{ $item.subtitle }}</p>
            {{ end }}
            {{ $page.Content }}
        </div>
    </div>
</div>

<!-- <div>
    <br>
    <br>
    <div style="display: flex; align-items: center;">
        <h2><a> Recent highlight works </a></h2>
    </div>
</div>

<div class="row">
    <div><h4>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://gewu-lab.github.io/llm_for_articulated_object_manipulation/">Kinematic-aware Prompting for Generalizable Articulated Object Manipulation with LLMs</a>
    </h4></div>
    <div  class="col-6 mx-auto col-md-6 order-md-1" style="display: flex; align-items: center;">
        <video width="320" height="240" controls>
            <source src="{{ printf "img/%s" $page.Params.robotic_video | relURL }}" type="video/mp4">
          </video>
    </div>
    <div  class="col-6 mx-auto col-md-6 order-md-1" style="display: flex; align-items: center;">
        <video width="320" height="240" controls>
            <source src="{{ printf "img/%s" $page.Params.robotic_video_2 | relURL }}" type="video/mp4">
          </video>
    </div> -->

</div>

